@use '@/config';
@use 'sass:color';

//* Viewport
// bootstrap
$breakpoint-xl: 1200px !default;
$breakpoint-lg: 992px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 576px !default;
$breakpoint-xs: 0 !default;

$max-width-xl: 1140px !default;
$max-width-lg: 960px !default;
$max-width-md: 720px !default;
$max-width-sm: 540px !default;

//* container & content size
$container-max-width: 1920px !default;
$content-max-width: 1440px !default;
$content-min-width: 320px !default;
$container-gap: 100px !default;

//* container&wrapper margin&padding
$container-margin: 0 auto !default;
$container-padding: 0 !default;

$wrapper-margin: 0 auto !default;
$wrapper-padding: 0 !default;

$gap: 5rem !default;

@function container-margin() {
    @if config.$CONTAINER_GAP {
        @return $container-gap auto;
    } @else {
        @return $container-margin;
    }
}
@mixin container-first {
    @if config.$CONTAINER_GAP {
        margin-top: 0;
    }
}
@mixin container-last {
    @if config.$CONTAINER_GAP {
        margin-bottom: 0;
    }
}

%container {
    max-width: $container-max-width;
    min-width: $content-min-width;
    width: 100%;
    margin: container-margin();
    padding: $container-padding;

    // @if config.$DEV {
    //     $color: hsla(0, 100%, 50%, 0.5);
    //     $border: 1px solid $color;
    //     margin-bottom: 1px;
    //     border-top: $border;
    //     border-bottom: $border;
    //     background-color: color.change($color, $lightness: 80%, $alpha: 0.1);
    // }

    &-first,
    &:first-of-type {
        @include container-first;
    }
    &-last,
    &:last-of-type {
        @include container-last;
    }
}

%wrapper {
    max-width: $content-max-width;
    min-width: $content-min-width;
    width: 100%;
    margin: $wrapper-margin;
    padding: $wrapper-padding;

    // @if config.$DEV {
    //     $color: hsla(120, 100%, 50%, 0.5);
    //     $border: 1px solid $color;
    //     margin-bottom: 1px;
    //     border-top: $border;
    //     border-bottom: $border;
    //     background-color: color.change($color, $lightness: 80%, $alpha: 0.1);
    // }
}

.container {
    @extend %container;

    .aside,
    .main {
        margin: 0;
    }
}

.content {
    width: 100%;
}

.wrapper {
    @extend %wrapper;
}
