@use '@/config/font-face';
@use '@/config/colors';

@use '@/common/flex';

.body {
    min-height: 100vh;
    font-family: '#{font-face.$family}', sans-serif;
    color: colors.$text;
    background: url(../../images/bg/sparks-bottom.png) bottom repeat-x;
    // mix-blend-mode: color-dodge;
    background-color: colors.$bg-main;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.flex {
        @extend %flex-col-fs-c;
    }
}
