@use '@/config';
@use '@/config/viewport';
@use '@/config/colors';

@use '@/common/flex';
@use '@/common/position';
@use '@/common/text';
@use '@/common/indent';

@use '@/components/logo';
@use '@/components/link';
@use '@/components/wot/navbar';
@use '@/components/wot/dropdown';

@use '@/icons/svg-icons';
@use '@/icons/gold';

.header {
    // background: url(../../images/bg/bg-header.png) bottom repeat-x colors.$bg-main;
    background: url(../../images/bg/bg-header.png) center/cover no-repeat;

    &__top {
        padding: 1rem 0;
        font-size: 1.4rem;
        background-color: colors.$bg-black;
    }

    &__wrapper {
    }

    &__bottom {
        // padding: 3.5rem 2.7rem 3.2rem 2.6rem;
        font-size: 1.8rem;
        background-color: colors.$bg-grey;

        .link {
            padding: 1.5em;

            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;

            &.active {
                @extend %pos-r;
                color: colors.$primary;
                border-bottom-color: colors.$primary;

                &::before {
                    content: '';
                    @extend %pos-a-full;
                    border-radius: 50%;
                    background: hsla(41, 100%, 55%, 0.1);
                    // opacity: 0.1;
                    filter: blur(28px);
                }
            }
            &:hover {
                color: hsla(0, 0%, 74%, 1);
            }
        }
    }

    .user {
        font-weight: 500;

        &-icon {
            @extend %svg-user_left;
        }

        .name {
            display: inline-block;
        }
    }
}

.swiper.header-slider {
    height: 488px;

    .swiper-slide {
        @extend %pos-r;

        padding: 69px 112px;

        img {
            @extend %pos-a-full;
            z-index: -1;
            // height: 100%;
        }

        .title {
            font-size: 6.4rem;
            font-weight: 900;
            white-space: pre-wrap;
        }

        .btn_slider {
            @extend %fs-28;
            @extend %fw-600;
            @extend .p-cell;
            margin-top: 0.5em;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: auto;
        bottom: 30px;
        width: 80px;
        height: 80px;
        margin: 0;
        background-color: hsla(0, 0%, 23%, 0.8);

        &::after {
            content: '';
        }
    }

    .swiper-button-prev {
        left: auto;
        right: 140px;
    }

    .swiper-button-next {
        left: auto;
        right: 45px;
    }
}
