@use '@/config';
@use '@/config/viewport';
@use '@/config/colors';

@use '@/common/flex';
@use '@/common/position';
@use '@/common/text';
@use '@/common/indent';

@use '@/components/logo';
@use '@/components/link';
@use '@/components/wot/navbar';
@use '@/components/wot/dropdown';

@use '@/svg/svg-symbol';
@use '@/icons/svg-icons';
@use '@/icons/gold';

.header {
    // background: url(../../images/bg/bg-header.png) bottom repeat-x colors.$bg-main;
    background: url(../../images/bg/bg-header.png) center/cover no-repeat;

    .navbar {
        &.flex {
            @extend %flex-sb-c;
        }

        &__group {
            flex: 1 0 50%;

            &.flex {
                @extend %flex-sb-c;
                gap: 2.5rem;
            }

            &_left > .navbar__item:last-child {
                margin-left: auto;
            }

            &_right > .navbar__item:first-child {
                margin-left: 3.2rem;
                margin-right: auto;
            }
        }

        & > .navbar__list {
            @extend %flex-sb-c;
        }

        &__list {
        }
        &__item {
        }
    }

    &__top {
        padding: 1rem 0;
        font-size: 1.4rem;
        background-color: colors.$bg-black;

        .navbar {
            & .dropdown__toggle,
            & .dropdown-menu__toggle {
                @extend %svg-arrow-down_right;
            }
        }
    }

    .user-nav {
        &.flex {
            @extend %flex-ai-c;
            gap: 2em;
        }

        .flex {
            gap: 0.5em;
            @extend %flex-ai-c;
        }

        .profile {
            .svg-symbol {
                fill: colors.$text-white;
            }
        }
        .nickname {
        }
        .balance {
        }
    }

    &__wrapper {
    }

    &__bottom {
        // padding: 3.5rem 2.7rem 3.2rem 2.6rem;
        font-size: 1.8rem;
        background-color: colors.$bg-grey;

        .navbar {
            & .dropdown__toggle,
            & .dropdown-menu__toggle {
                @extend %svg-arrow-down_right-big;
            }

            & > .navbar__list {
                @extend %flex-sa-c;
            }
        }

        .link {
            padding: 1.5em;

            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;

            &.active {
                @extend %pos-r;
                color: colors.$primary;
                border-bottom-color: colors.$primary;

                &::before {
                    content: '';
                    @extend %pos-a-full;
                    border-radius: 50%;
                    background: hsla(41, 100%, 55%, 0.1);
                    // opacity: 0.1;
                    filter: blur(28px);
                }
            }
            &:hover {
                color: hsla(0, 0%, 74%, 1);
            }
        }
    }
}

.swiper.header-slider {
    height: 488px;

    .swiper-slide {
        @extend %pos-r;

        padding: 69px 112px;

        img {
            @extend %pos-a-full;
            z-index: -1;
            // height: 100%;
        }

        .title {
            font-size: 6.4rem;
            font-weight: 900;
            white-space: pre-wrap;
        }

        .btn_slider {
            @extend %fs-28;
            @extend %fw-600;
            @extend .p-cell;
            margin-top: 0.5em;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: auto;
        bottom: 30px;
        width: 80px;
        height: 80px;
        margin: 0;
        background-color: hsla(0, 0%, 23%, 0.8);

        &::after {
            content: '';
        }

        .svg-symbol {
            width: 21px;
            height: 37px;
            fill: colors.$white;
        }
    }

    .swiper-button-prev {
        left: auto;
        right: 140px;
    }

    .swiper-button-next {
        left: auto;
        right: 45px;
    }
}
