@use 'sass:color';
@use '@/config/colors';
@use '@/common/flex';
@use '@/components/button';

$button-color: hsla(0, 0%, 14%, 1);
$button: $button-color;
$button-bg: hsla(41, 100%, 55%, 1);
$button-color-hover: hsla(0, 0%, 14%, 1);
$button-bg-hover: $button-bg;
$button-active: $button-color;
$button-bg-active: $button-bg;
// $button-bg-disabled: color.grayscale($button-bg);
$button-bg-disabled: color.grayscale($button-bg);

$border-radius: 2px;

$box-shadow: 0px 4px 10px 0px hsla(50, 100%, 50%, 0.13);

.btn {
    font-size: 1.4rem;
    padding: 1em 1.25em;
    color: hsl(0, 0%, 14%);
    background-color: hsl(41, 100%, 55%);
    border: 1px solid;

    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, hsl(41, 97%, 54%) 0%, hsl(16, 88%, 50%) 100%);

    border-radius: 2px;

    &:hover {
        box-shadow: $box-shadow;
    }

    &:active {
        background: hsl(41, 100%, 46%);
        box-shadow: $box-shadow;
    }

    &:disabled {
        background-color: hsl(45, 5%, 85%);
        border: 1px solid hsl(0, 0%, 71%);
        box-shadow: $box-shadow;
    }

    // &_common {
    //     font-size: 1.4rem;
    //     color: colors.$button-color;
    //     background-color: colors.$button-bg;
    // }

    // &_border {
    //     border: 1px solid colors.$button-bg;
    // }

    &_main {
        padding: 0.5em 1em;
        color: colors.$text-white;
        background: linear-gradient(180deg, hsl(27, 98%, 50%) -32.61%, hsl(11, 85%, 36%) 100%);
    }

    &_center {
        margin: 0 auto;
    }

    &_full {
        width: 100%;
    }
}
