@use 'sass:color';
@use '@/config/colors';
@use '@/common/flex';
@use '@/common/indent';
@use '@/components/button';

$border-radius: 2px;

.btn {
    font-size: 1.4rem;
    padding: 1em 1.25em;
    color: colors.$button;
    background-color: colors.$button-bg;
    border: 1px solid;

    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, hsl(41, 97%, 54%) 0%, hsl(16, 88%, 50%) 100%);

    border-radius: 2px;

    &:hover {
        color: colors.$button-hover;
        background-color: colors.$button-bg-hover;
        box-shadow: colors.$button-box-shadow;
    }

    &:active {
        color: colors.$button-active;
        background-color: colors.$button-bg-active;
        box-shadow: colors.$button-box-shadow;
    }

    &:disabled {
        color: colors.$button-disabled;
        background-color: colors.$button-bg-disabled;
        border-color: colors.$button-border-disabled;
        box-shadow: colors.$button-box-shadow;
    }

    &_main {
        padding: 0.4em 1em;
        color: colors.$text-white;
        background: linear-gradient(180deg, hsl(27, 98%, 50%) -32.61%, hsl(11, 85%, 36%) 100%);

        &:hover {
            color: colors.$text-white;
        }
    }

    &_center {
        margin: 0 auto;
    }

    &_full {
        width: 100%;
    }

    &_unset {
        padding: 0;
        color: unset;
        background: unset;
        border: none;
        border-radius: 0;
        &:active {
            background: unset;
            box-shadow: unset;
        }
    }
}
