@use 'sass:color';

@use '@/config/colors';
@use '@/common/flex';
@use '@/common/position';

.checkbox,
.radio {
    @extend %pos-r;

    input {
        @extend %pos-a;
        visibility: hidden;
        opacity: 0;
        height: 0;
        width: 0;
    }

    label {
        cursor: pointer;
    }
}

.checkbox {
    // & + .checkbox {
    //     margin-top: 1em;
    // }

    label {
    }

    input:checked + label {
        background-color: colors.$primary;
    }

    & + button[type='submit'] {
        margin-top: 2em;
    }
}

.radio {
    & + .radio {
        margin-top: 1em;
    }

    label {
        padding-left: 2.6em;

        &::before,
        &::after {
            content: '';
            @extend %pos-a;
            left: 0;
            width: 1.6em;
            height: 1.6em;
            border-radius: 50%;
            box-sizing: border-box;
        }

        &::before {
            display: block;
            background-color: colors.$secondary;
        }
        &::after {
            display: none;
            border: 0.3em solid colors.$secondary;
            background-color: colors.$primary;
        }
    }

    &:hover input + label::before {
        background-color: color.scale(colors.$secondary, $lightness: 20%);
    }

    input:checked + label::after {
        display: block;
    }
}
