@use '@/config/colors';
@use '@/common/flex';
@use '@/svg/svg-symbol';
@use '@/icons/svg-icons';

@use '@/components/wot/filter';

.filters {
    @extend %fs-14;

    &__wrapper {
        padding: 1em;
    }

    &__top {
        min-height: 60px;

        background: colors.$bg-grey;
        box-shadow: colors.$box-shadow-grey;
        border-radius: 5px;
    }

    .flex,
    .grid {
        gap: 0.5em;
    }
}

.filter-tag {
    @extend %flex-ai-c;
    gap: 0.5em;
    // font-size: 1.2rem;
    color: colors.$text-gray;
    margin-right: 0.5em;
    padding: 0 0.5em 0 1em;
    border-radius: 1em;
    background-color: colors.$primary;

    .xmark {
        @extend %svg-xmark;
        width: 0.6em;
        height: 0.6em;
        padding: 0;
    }
}
