.flag {
    height: 15px;
    background: hsla(234, 100%, 65%, 1);

    &_15 {
        width: 15px;
    }
    &_35 {
        width: 35px;
    }

    &_usr {
    }
    &_deu {
    }
    &_usa {
    }
    &_fra {
    }
    &_gbr {
    }
    &_cze {
    }
    &_chi {
    }
    &_jpn {
    }
    &_pol {
    }
    &_swe {
    }
    &_ita {
    }
}
