@use '@/config/colors';
@use '@/common/flex';
@use '@/common/text';
@use '@/components/navbar';
@use '@/icons/svg-icons';

.navbar {
    @at-root .footer &__group > &__item:first-child {
        @extend %flex-ai-c;
        height: 88px;
        @extend %fs-14;
    }

    @at-root .footer &.flex {
        @extend %flex-sb-fs;
        font-size: 1.2rem;
    }

    &__group {
    }

    &__list {
        &.dropdown__list {
            min-width: 10rem;
            margin: 0;
            margin-top: 0.125rem;
            padding: 0.5rem 0;
            font-size: 1em;
            text-align: left;
            background-clip: padding-box;
            background-color: colors.$bg-grey;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
        }

        &.social {
            @extend %flex-sb-c;
            width: 100%;
        }
    }

    &__item {
    }
}
