@use '@/config/colors';
@use '@/common/flex';
@use '@/common/text';
@use '@/components/navbar';
@use '@/icons/svg-icons';

.navbar {
    &_top {
        & .dropdown__toggle,
        & .dropdown-menu__toggle {
            @extend %svg-arrow-down_right;
        }
    }
    &_bottom {
        & .dropdown__toggle,
        & .dropdown-menu__toggle {
            @extend %svg-arrow-down_right-big;
        }
    }

    @at-root .header &.flex {
        @extend %flex-sb-c;
    }

    @at-root .footer &__group > &__item:first-child {
        @extend %flex-ai-c;
        height: 88px;
        @extend %fs-14;
    }

    @at-root .footer &.flex {
        @extend %flex-sb-fs;
        font-size: 1.2rem;
    }

    &__group {
        @at-root .header & {
            @extend %flex-row-sb-c;
            gap: 2.5rem;
            flex: 1 0 50%;

            &_left {
                & > .navbar__item:last-child {
                    margin-left: auto;
                }
            }

            &_right {
                & > .navbar__item:first-child {
                    margin-left: 3.2rem;
                    margin-right: auto;
                }
            }
        }
    }

    &__list {
        @at-root .header .navbar > & {
            @extend %flex-sb-c;
        }
        @at-root .header .header__bottom .navbar > & {
            @extend %flex-sa-c;
        }

        &.dropdown__list {
            min-width: 10rem;
            margin: 0;
            margin-top: 0.125rem;
            padding: 0.5rem 0;
            font-size: 1em;
            text-align: left;
            background-clip: padding-box;
            background-color: colors.$bg-grey;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
        }

        &.social {
            @extend %flex-sb-c;
            width: 100%;
        }
    }

    &__item {
        // @at-root .footer  &:first-child {
        //     margin-bottom: 1em;
        // }
    }
}
