%display-block {
    display: block;
    box-sizing: border-box;
}

%margin0padding0 {
    margin: 0;
    padding: 0;
}

%border {
    border: none;
}

%pointer {
    cursor: pointer;
}

html {
    @extend %margin0padding0;
    font-size: 62.5%;
}

body {
    @extend %display-block;
    @extend %margin0padding0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.25;
}

%h {
    @extend %display-block;
    font-weight: bolder;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

h1,
.h1 {
    @extend %h;
}
.h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

h2,
.h2 {
    @extend %h;
}
.h2 {
    font-size: 2em;
}

h3,
.h3 {
    @extend %h;
}
.h3 {
    font-size: 1.75em;
}

h4,
.h4 {
    @extend %h;
}
.h4 {
    font-size: 1.5em;
}

h5,
.h5 {
    @extend %h;
}
.h5 {
    font-size: 1.25em;
}

h6,
.h6 {
    @extend %h;
}
.h6 {
    font-size: 1em;
}

header {
    @extend %display-block;
}

footer {
    @extend %display-block;
}

main {
    @extend %display-block;
}

aside {
    @extend %display-block;
}

nav {
    @extend %display-block;
}

section {
    @extend %display-block;
}

article {
    @extend %display-block;
}

pre {
    @extend %margin0padding0;
}

code {
    @extend %margin0padding0;
}

div {
    @extend %display-block;
    @extend %margin0padding0;
}

a {
    @extend %display-block;
    @extend %pointer;
    text-decoration: none;
    color: inherit;
}

span {
    @extend %display-block;
}

p {
    @extend %display-block;
    @extend %margin0padding0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    @extend %display-block;
    max-width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    border-style: none;
}

%font {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

%userselect {
    user-select: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    @extend %display-block;
    @extend %font;
    @extend %border;
    @extend %userselect;
    @extend %pointer;
    text-align: center;
    padding: 0.5em 1em;
    background-color: transparent;

    &:focus,
    &.focus {
        outline: none;
    }

    &:disabled,
    &.disabled {
        opacity: 0.65;
    }
}

form {
    @extend %display-block;
    @extend %margin0padding0;
}

fieldset {
    @extend %display-block;
    @extend %margin0padding0;
    @extend %border;
}

label {
    @extend %display-block;
    @extend %margin0padding0;
    @extend %userselect;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
legend {
    @extend %display-block;
    @extend %margin0padding0;
    @extend %font;
    width: 100%;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

input[type='checkbox'] {
    @extend %margin0padding0;
    @extend %font;
    @extend %pointer;
    width: 1em;
    height: 1em;
}
input[type='radio'] {
    @extend %pointer;
}

select,
option {
    @extend %display-block;
    @extend %margin0padding0;
    @extend %font;
    @extend %userselect;
}

textarea {
    @extend %display-block;
    @extend %margin0padding0;
    @extend %font;
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    @extend %margin0padding0;
}

ul li {
    @extend %margin0padding0;
    list-style: none;
}

.dn {
    display: none;
}

.hidden,
[hidden] {
    visibility: hidden;
}
