%text-align,
%ta {
    &-left,
    &-l {
        text-align: left;
    }

    &-center,
    &-c {
        text-align: center;
    }

    &-right,
    &-r {
        text-align: right;
    }
}
.ta {
    &-l {
        @extend %ta-l;
    }
    &-c {
        @extend %ta-c;
    }
    &-r {
        @extend %ta-r;
    }
}

%vertical-align,
%va {
    &-middle,
    &-m {
        vertical-align: middle;
    }
}

.va {
    &-m {
        @extend %va-m;
    }
}

%text-transform,
%tt {
    &-uppercase,
    &-uc {
        text-transform: uppercase;
    }
    &-lowercase,
    &-lc {
        text-transform: lowercase;
    }
    &-capitalize,
    &-cp {
        text-transform: capitalize;
    }
}

.tt {
    &-uc {
        @extend %text-transform-uppercase;
    }
    &-lc {
        @extend %text-transform-lowercase;
    }
    &-cp {
        @extend %text-transform-capitalize;
    }
}

%fs-12 {
    font-size: 1.2rem;
}
%fs-14 {
    font-size: 1.4rem;
}
%fs-16 {
    font-size: 1.6rem;
}
%fs-18 {
    font-size: 1.8rem;
}
%fs-20 {
    font-size: 2rem;
}
%fs-26 {
    font-size: 2.6rem;
}
%fs-30 {
    font-size: 3rem;
}
%fs-60 {
    font-size: 6rem;
}

.t12 {
    @extend %fs-12;
}
.t14 {
    @extend %fs-14;
}
.t16 {
    @extend %fs-16;
}
.t18 {
    @extend %fs-18;
}
.t20 {
    @extend %fs-20;
}
.t26 {
    @extend %fs-26;
}
.t30 {
    @extend %fs-30;
}
.t60 {
    @extend %fs-60;
}

%font-weight,
%fw {
    &-4,
    &-400 {
        font-weight: 400;
    }
    &-5,
    &-500 {
        font-weight: 500;
    }
    &-7,
    &-700 {
        font-weight: 700;
    }
}
.fw {
    &-4 {
        @extend %font-weight-400;
    }
    &-5 {
        @extend %font-weight-500;
    }
    &-7 {
        @extend %font-weight-700;
    }
}
