@use '@/config/colors';

.dropdown {
    position: relative;

    &__toggle {
        cursor: pointer;
    }

    &__content,
    &__list,
    &__menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        text-align: left;
        background-clip: padding-box;

        &.show {
            display: block;
        }
    }

    &__item {
        display: block;
        width: 100%;
        white-space: nowrap;
    }
}

%dropdown-hover {
    position: relative;

    & > span {
        // font-size: 1.8rem;
        // font-weight: bolder;
        display: inline-block;
        border-bottom: 1px dashed colors.$text;
        cursor: pointer;
    }

    & > div {
        position: absolute;
        display: none;
        // @extend %box-shadow;
        background: colors.$white;
    }

    &:hover > div {
        display: block;
    }
}
