@use '@/config';
@use '@/config/viewport';
@use '@/config/colors';

@use '@/common/flex';
@use '@/common/grid';
@use '@/common/text';

@use '@/layout/aside';
@use '@/layout/main';

@use '@/components/wot/article';
@use '@/components/wot/button';
@use '@/components/wot/dropdown';
@use '@/components/wot/filter';

@use '@/icons/gold';

.home {
    &.container {
        font-size: 1.4rem;
        background: url(~/images/bg/sparks-top.png) top repeat-x;
    }

    &__wrapper {
        margin-bottom: viewport.$gap;
        padding-top: 3.5rem;

        &.grid {
            @include grid.grid {
                gap: 20px;
                grid-template:
                    'filter filters' auto
                    'filter main' 1fr
                    / 345px 1fr;
            }
        }
    }

    .aside {
        @extend %fs-14;
        border-radius: 5px;
        overflow: hidden;

        &.filter {
            max-width: 345px;
        }

        &.filters {
        }

        .aside__top {
        }

        .aside__wrapper {
        }
    }

    .main {
        font-size: 1.2rem;

        .main__wrapper.grid {
            @include grid.grid {
                gap: 61px 20px;
                grid-template: repeat(5, auto) / repeat(3, minmax(auto, 345px));
            }
        }

        .filters {
            @extend %flex-ai-c;
            // height: 53px;
            padding: 2rem;
            background-color: colors.$bg-grey;

            & > :first-child {
                @extend .t20;
                margin-right: 2em;
            }

            &__wrapper {
                @extend %flex-ai-c;
            }
        }

        .sorting {
            @extend %flex-ai-c;
            padding: 0.5em calc(2rem - 2em) 1rem;
        }

        .pagination {
            @extend %flex-row-c;
            gap: 2em;
            margin: 6.5rem 0;
            @extend .t20;
            button {
                background-color: transparent;
            }

            .prev,
            .next {
                width: 11px;
                height: 19px;
                padding: 0;
            }
            .prev {
                @extend %svg-caret-left;
            }
            .next {
                @extend %svg-caret-right;
            }
            .page {
                // @extend %flex-c;
                @extend %ta-c;
                @extend %va-m;
                width: 48px;
                height: 45px;

                &.active {
                    background-color: colors.$primary;
                }
            }
        }
    }
}

article.competition {
    .competition__wrapper {
        padding: 1.5rem 1rem;
        color: colors.$text;
        font-size: 1.2rem;
        background-color: colors.$bg-grey;
    }

    span {
        display: unset;
    }
    header {
        @extend %flex-row-sb-c;
    }
    h2 {
        @extend %fs-20;
        text-align: center;
    }
    ul {
        margin-bottom: 1rem;
    }
    .prize {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    footer {
        @extend %flex-row-sb-c;
    }
    button {
        padding: 0.5em 10px;
        font-size: 2rem;
        background-color: colors.$primary;
    }
}

.slider {
    // margin-top: 7.5rem;
    margin-bottom: 7.5rem;

    h2 {
        font-size: 3rem;
    }
}
